@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --white: #FFFEF7;
  --green: #9EC1AA;
  --light-green: #C9E5D2;
  --purple: #C89DD2;
  --light-purple: #DAB6E1;
  --black: #280B31;

  --primary-heading: 48pt;
  --secondary-heading: 24pt;
  --tertiary-heading: 18pt;
  --text-size: 14pt;
}

/* ----- Global Components ----- */
html,
body {
  margin: 0rem;
  padding: 0;
  font-size: var(--text-size);
  background-color: var(--white);
  color: var(--black);
}


.hero {
  padding: 4rem 2rem 4rem 2rem;
  background-color: var(--light-purple);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spacer {
  height: 4.7rem;
}

.medium-text {
  
}

.big-text {

}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.stat-box {
  display: flex;
  height: 400px;
  margin: 0 2rem 0 2rem;;
}

.chart {
  display: block;
  width: 50%;
  padding-left: 2rem;
}

.blurb {
  display: block;
  width: 50%;
  padding: 0 2rem 0 4rem;
  align-items: center;
  justify-content: center;
}

.mission {
  display: block;
  padding: 0 4rem 0 4rem;
}

.head {
  font-weight: 600;
  font-size: 17pt;
}

.separator {
  height: 1px;
  margin: 2rem;
  width: 100%;
  background-color: #f5f3e2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 1200px){
  .stat-box {
    flex-direction: column;
  }
  .chart {
    width: 100%;
  }
  
  .blurb {
    width: 100%;
  }
  
}

