@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --white: #FFFEF7;
  --green: #9EC1AA;
  --light-green: #C9E5D2;
  --purple: #C89DD2;
  --light-purple: #DAB6E1;
  --black: #280B31;

  --primary-heading: 48pt;
  --secondary-heading: 24pt;
  --tertiary-heading: 18pt;
  --text-size: 14pt;
}

/* ----- Global Components ----- */
html,
body {
  margin: 0rem;
  padding: 0;
  font-size: var(--text-size);
  background-color: var(--white);
  color: var(--black);
}

.content {
  padding-top: 6rem;
  width: 90%;
}

.hero {
  display: flex;
  height: 400px;
  margin: 0 2rem 0 2rem;;
}

.chart {
  width: 50%;
  padding-left: 2rem;
}

.blurb {
  display: flex;
  width: 50%;
  padding: 0 2rem 0 4rem;
  align-items: center;
  justify-content: center;
}

.mission {
  padding: 0 4rem 0 4rem;
}

.head {
  font-weight: 600;
  font-size: 17pt;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
