@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fffef7;
  --green: #9ec1aa;
  --light-green: #c9e5d2;
  --purple: #c89dd2;
  --light-purple: #dab6e1;
  --black: #280b31;

  --primary-heading: 48pt;
  --secondary-heading: 24pt;
  --tertiary-heading: 18pt;
  --text-size: 14pt;
}

/* ----- Global Components ----- */
html,
body {
  margin: 0rem;
  padding: 0;
  font-size: var(--text-size);
  background-color: var(--white);
  color: var(--black);
}

.hero {
  position: relative;
  padding: 4rem 2rem;
  height: 30rem;
  background-color: var(--light-purple);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/wildflowers-yellow-and-purple-black-brook-photography.jpg);
  background-size: cover;
  background-position: center;
}

.spacer {
  height: 12rem;
}
.alt-spacer {
  height: 5rem;
}

.medium-text,
.big-text {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stat-box {
  display: flex;
  margin: 0 2rem 0 2rem;
  align-items: center;
}

.chart {
  display: block;
  height: 400px;
  width: 50%;
  padding-left: 2rem;
}

.blurb {
  display: block;
  width: 50%;
  padding: 0 2rem 0 4rem;
  align-items: center;
  justify-content: center;
}

.mission {
  display: block;
  padding: 0 4rem 0 4rem;
}

.head {
  font-weight: 600;
  font-size: 17pt;
}

.separator {
  height: 1px;
  margin: 2rem 4rem 2rem 4rem;
  width: 100%;
  background-color: #f5f3e2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 1200px) {
  .stat-box {
    flex-direction: column;
  }
  .chart {
    width: 100%;
  }

  .blurb {
    width: 100%;
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:60%;
  margin-bottom: 20px;
}

.image {
  width: 250px; /* Set your desired width for the member images */
  height: 250px; /* Set your desired height for the member images */
  border-radius: 3%; /* Make the images circular */
  margin-bottom: 10px;

}

.name {
  font-weight: bold;
}

.major {
  color: #888; /* Adjust the color for the major */
  font-style: italic;
}

.desc {
  color: #888;
  margin: 0 auto; /* Center the description */
}

.page-header {
  text-align: center;
  font-size: 24pt;
  font-weight: 600;
  padding: 1rem;
}
