.image-container {
    position: relative;
  }
  
  .prev-btn {
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translateY(-50%);
  }
  
  .next-btn {
    position: absolute;
    right: 30%;
    top: 40%;
    transform: translateY(-50%);
  }
  